{% extends "base.html" %}

{% block title %}Gardener List{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-page mt-5 rounded">
    <!-- Heading section -->
    <div class="text-center py-3 pt-5">
        <h2 class="display-4 text-success font-weight-bold">Gardener User List</h2>
    </div>
    <!-- Only Admin can manage gardeners list -->
    {% if userType == 'Admin' %}
    <div class="mt-2 mb-2 text-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">
            <i class="fa-solid fa-user-plus"></i>
            Add New Gardener
        </button>
    </div>
    <!-- Add new gardener Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content card">
                <div class="modal-header">
                    <h5 class="modal-title">Add a new Gardener</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('admin_staff.add_new_gardener') }}">
                        <div class="row justify-content-around">
                            <div class="mb-3 col-6">
                                <label for="username"
                                    class="form-label font-weight-bold text-success text-start">Username</label>
                                <input type="text" class="form-control" name="username" id="username" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="password" class="form-label font-weight-bold text-success">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password"
                                        title="Password must be at least 8 characters long and conatin uppercase, lowercase, number and special characters."
                                        oninput="validatePassword('password', 'password-tooltip')" required>
                                    <div class="tooltip" id="password-tooltip">
                                        Password must be: <br />
                                        - at least 8 characters long <br />
                                        - conatin uppercase, lowercase, number and special characters.
                                    </div>
                                    <div class="input-group-append">
                                        <i class="fa-regular fa-eye" aria-hidden="true"
                                            onclick="togglePasswordVisibility('password')"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="mb-3 col-6">
                                <label for="first_name" class="form-label font-weight-bold text-success">First
                                    Name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="last_name" class="form-label font-weight-bold text-success">Last
                                    Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" required>
                            </div>
                        </div>

                        <div class="row justify-content-around">
                            <div class="mb-3 col-6">
                                <label for="phone_number" class="form-label font-weight-bold text-success">Phone</label>
                                <input type="tel" pattern="[0-9]{10}" class="form-control" name="phone_number"
                                    id="phone_number" title="Please enter a vaild phone number.example: 0271231234."
                                    required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="email" class="form-label font-weight-bold text-success">Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label font-weight-bold text-success">Address</label>
                            <input type="text" class="form-control" name="address" id="address" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- view gardener list -->
    <div class="row">
        {% for gardener in active_gardeners %}
        {% set outer_index = loop.index %}
        <div class="col-md-4 col-sm-6 mb-5">
            <!-- Only Admin can manage gardeners list -->
            {% if userType == 'Admin' %}
            <div class="card" data-bs-toggle="modal" data-bs-target="#updateGardenerModal{{ outer_index }}">
                {% else %}
                <div class="card">
                    {% endif %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title">
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Username: </label>
                                        {{gardener[1]}}
                                    </div>
                                </h5>
                                <p class="card-text">
                                <div>
                                    <label class="form-label font-weight-bold text-success">Name: </label>
                                    {{gardener[2]}} {{gardener[3]}}
                                </div>
                                <div>
                                    <label class="form-label font-weight-bold text-success">Address: </label>
                                    {{gardener[4]}}
                                </div>
                                <div>
                                    <label class="form-label font-weight-bold text-success">Email: </label>
                                    {{gardener[5]}}
                                </div>
                                <div>
                                    <label class="form-label font-weight-bold text-success">Phone: </label>
                                    {{gardener[6]}}
                                </div>
                                <div>
                                    <label class="form-label font-weight-bold text-success">Joined Date: </label>
                                    {{gardener[7]}}
                                </div>
                                </p>
                            </div>
                            <!-- Only Admin can manage gardeners list -->
                        </div>
                        <div class="row">
                            <div class="col-8"></div>
                            {% if userType == 'Admin' %}
                            <div class="col-4 manage-buttons d-md-flex align-items-end">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#updateGardenerModal{{ outer_index }}">
                                        <i class="fa-regular fa-pen-to-square" style="font-size: 1.3rem;"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteGardenerModal{{ outer_index }}">
                                        <i class="fa-regular fa-trash-can" style="font-size: 1.3rem;"></i>
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update gardener Modal -->
            <div class="modal fade" id="updateGardenerModal{{ outer_index }}" tabindex="-1"
                aria-labelledby="#updateGardenerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content card">
                        <div class="modal-header">
                            <h5 class="modal-title">Update {{ gardener[1] }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST"
                                action="{{ url_for('user.update_gardener_profile', gardener_id=gardener[0]) }}">
                                <div class="row justify-content-around">
                                    <div class="mb-3 col-6">
                                        <label for="first_name" class="form-label font-weight-bold text-success">First
                                            Name</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                            value="{{ gardener[2] }}" required>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="last_name" class="form-label font-weight-bold text-success">Last
                                            Name</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                            value="{{ gardener[3] }}" required>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <div class="mb-3 col-6">
                                        <label for="username"
                                            class="form-label font-weight-bold text-success">Phone</label>
                                        <input type="tel" pattern="[0-9]{10}" class="form-control" name="phone_number"
                                            id="phone_number" value="{{ gardener[6] }}"
                                            title="Please enter a vaild phone number.example: 0271231234." required>
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label for="email"
                                            class="form-label font-weight-bold text-success">Email</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            value="{{ gardener[5] }}" required>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="address"
                                        class="form-label font-weight-bold text-success">Address</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                        value="{{ gardener[4] }}" required>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        aria-label="Close">Close</button>
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Confitmation Modal -->
            <div class="modal fade" id="deleteGardenerModal{{ outer_index }}" tabindex="-1"
                aria-labelledby="deleteGardenerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content card">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm delete {{gardener[1]}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{gardener[1]}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                aria-label="Close">Close</button>
                            <form method="POST"
                                action="{{ url_for('admin_staff.delete_gardener', gardener_id=gardener[0]) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Admin can recover inactive gardener account -->
        {% if userType == 'Admin' %}
        <!-- only show if there are inactive gardeners -->
        {% if inActive_gardeners|length > 0 %}
        <div>
            <div class="text-center py-3 pt-5">
                <h5 class="display-10 text-success font-weight-bold">Inactive Gardener User</h5>
            </div>

            <div class="row">
                {% for gardener in inActive_gardeners %}
                {% set outer_index = loop.index %}
                <div class="col-md-4 col-sm-6 mb-5">
                    <div class="card inactive_card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title">
                                        <div>
                                            <label class="form-label font-weight-bold text-success">Username: </label>
                                            {{gardener[1]}}
                                        </div>
                                    </h5>
                                    <p class="card-text">
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Name: </label>
                                        {{gardener[2]}} {{gardener[3]}}
                                    </div>
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Address: </label>
                                        {{gardener[4]}}
                                    </div>
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Email: </label>
                                        {{gardener[5]}}
                                    </div>
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Phone: </label>
                                        {{gardener[6]}}
                                    </div>
                                    <div>
                                        <label class="form-label font-weight-bold text-success">Joined Date: </label>
                                        {{gardener[7]}}
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer inactive_card_footer">
                            <form method="POST"
                                action="{{ url_for('admin_staff.recover_gardener_account', gardener_id=gardener[0]) }}">
                                <button type="submit" class="btn btn-primary restore-button">Recover Account</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    {% endblock %}