<nav class="navtop">
    <div>
        <h1>{{ userType }} Home</h1>
        <a href="{{ profile_url }}"><i class="fa-solid fa-user-circle"></i>Profile</a>
        <a href="{{ url_for('weed_guide') }}"><i class="fa-solid fa-cannabis"></i>Weed Guide</a>
        {% if userType == 'Staff' %}
            <a href="{{ url_for('gardener_list') }}"><i class="fa-solid fa-users-line"></i>Gardener List</a>
        {% endif %}
        {% if userType == 'Admin' %}
            <a href="{{ url_for('gardener_list') }}"><i class="fa-solid fa-users-line"></i>Gardener List</a>
            <a href="{{ url_for('staff_list') }}"><i class="fa-solid fa-users-gear"></i>Staff List</a>
        {% endif %}
        <a href="{{ url_for('logout') }}"><i class="fa-solid fa-sign-out-alt"></i>Logout</a>
    </div>
</nav>