{% extends "base.html" %}

{% block title %}Gardener Home{% endblock %}

{% block navbar %}
{% include 'includes/sidebar.html' %}
{% endblock %}

{% block content %}
<br/>
<div class="profile-card ms-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0">Garderer Profile</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('update_gardener_profile') }}">
                        <h5 class="card-title">Personal Information</h5>
                        <div class="row justify-content-around">
                            <div class="mb-3 col-6">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ user[1] }}" readonly required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="username" class="form-label">Phone</label>
                                <input type="tel" pattern="[0-9]{10}" class="form-control" name="phone_number" id="phone_number" value="{{ user[6] }}"required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="mb-3 col-6">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user[2] }}" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="last_name" class="form-label">Lasr Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user[3] }}" required>
                            </div>
                        </div>  
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ user[4] }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user[5] }}" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block">Update Information</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0">Change Password</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('change_password') }}">
                        <div class="mb-3">
                            <label for="current_password" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="current_password" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
{% endblock %}